
    <form (ngSubmit)="onButtonClick()">
        <div>
            <label for="name">Name: </label>
            <input id="name" name="name" text="text" [(ngModel)]="name" />
        </div>
        <div>
            <label for="description">Description: </label>
            <input id="description" name="description" text="text" [(ngModel)]="description" />
        </div>
        <div>
            <label for="price">Price: </label>
            <input id="price" name="price" text="text" [(ngModel)]="price" />
        </div>
        <button type="submit">{{buttonText}}</button>
